<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.myprepare">

    <application
      android:allowBackup="false"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:name=".MyApplication"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
        <activity android:name=".jet_pack.JetPackTestActivity"></activity>
        <activity android:name=".view_test.left_age.LeftAgeAnimationActivity" />
        <activity android:name=".activity.SerializableTestActivity" />
        <activity android:name=".activity.ActivityTestActivity" />
        <activity android:name=".activity.HashMapTestActivity" />
        <activity android:name=".activity.CoroutinesTestActivity" />
        <activity android:name=".activity.GenericTestActivity" />
        <activity android:name=".annotation_test.AnnotationTestActivity" />
        <activity android:name=".plugin_and_hot_fix.PluginAndHotFixActivity" />
        <activity android:name=".activity.BadgeTestActivity" />
        <activity android:name=".activity.ScalableImageViewActivity" />
        <activity android:name=".activity.TouchEventTestActivity" />
        <activity android:name=".view_test.ViewTestActivity" />
        <activity android:name=".activity.TagLayoutActivity" />
        <activity android:name=".activity.MeasureLayoutActivity" />
        <activity android:name=".activity.MaterialEditTextActivity" />
        <activity android:name=".activity.BitmapDrawableActivity" />
        <activity android:name=".view_test.AnimationActivity2" />
        <activity android:name=".view_test.AnimationActivity" />
        <activity android:name=".view_test.ViewActivity4" />
        <activity android:name=".view_test.ViewActivity2" />
        <activity android:name=".activity.IOActivity" />
        <activity android:name=".activity.ThreadTestActivity" />
        <activity android:name=".view_test.ViewActivity3" />
        <activity android:name=".view_test.ViewActivity" />
        <activity android:name=".activity.OkHttpActivity" />
        <activity android:name=".activity.RetrofitActivity" />
        <activity android:name=".activity.ServiceTestActivity" />
        <activity android:name=".activity.FragmentTestActivity" />
        <activity android:name=".activity.RecyclerTestActivity" />
        <activity android:name=".activity.AdaptationActivity" />
        <activity android:name=".activity.ResTestActivity" />
        <activity android:name=".activity.DrawerLayoutActivity" />
        <activity android:name=".activity.EditTextActivity" />
        <activity android:name=".view_test.ViewSizeActivity" />
        <activity
          android:launchMode="singleTask"
          android:name=".activity.RxJava3Activity" />
        <activity
          android:name=".MainActivity"
          android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
          android:name=".service.MyService"
          android:enabled="true"
          android:exported="true" />
        <service
          android:name=".service.MyIntentService"
          android:exported="false" />
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>